@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@*
* Call the the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {

    <div class="container">
        <div class="registration">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-5">
                    <h1>Mine is Different!</h1>
                    <h1>Testing Branching</h1>
                </div>
                <br>
            </div>
        </div>
    </div>

}
