@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>

                </div>
                <a class="navbar-brand brand-center" href="home">Pool...</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-tabs navbar-left">
                    <li><a href="about">About Us</a></li>
                    <li><a href="playerProfile">Player Profiles</a></li>
                    <li><a href="contactUs">Contact</a></li>
                    <li><a href="faq">FAQs</a></li>
                </ul>
                <ul class="nav navbar-nav nav-tabs navbar-right">
                    <li><a href="registration">Register</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <div class="right-inner-addon">
                        <i class="glyphicon glyphicon-knight"></i>
                        <input type="text" name="user" placeholder="Gamer Tag"/>
                    </div>
                    <div class="right-inner-addon">
                        <i class="glyphicon glyphicon-sunglasses"></i>
                    <input type="password" name="pass" placeholder="Password"/>
                    </div>
                    <button type="submit" name="login" class="btn btn-shutterOut">Login</button>
                </form>

                <div class="login-help">
                    <a href="registration">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
}

