@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

  <h1>This is the main page</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-3">
                <form name="input" action="navPage2" method="get">
                    <button type="submit" class="btn btn-warning btn-lg">Go to page 2</button>
                </form>
            </div>
        </div>
    </div>
}
