@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <div>
        <ul class="nav nav-pills nav-stacked pill-back">
            <li><a href="home">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="playerProfile">Player Profiles</a></li>
            <li><a href="contactUs">Contact</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="registration">Registration</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
}
