@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <div class="wideBackground">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-sm-2">
                @index("")
                </div>
                <div class="col-sm-10">
                    <div class="container">
                        <div class="registration">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h1>Register to Play!</h1>
                                </div>
                            </div>
                            <br>
                            <form class="form">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="fName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="lName" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="gameTag" placeholder="Gamer Tag">
                                    </div>
                                    <div class="radButtons">
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="systemOpt" id="radPS" value="syst1"> Playstation
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="systemOpt" id="radXB" value="syst2"> Xbox
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="systemOpt" id="radNT" value="syst3"> Nintendo
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="systemOpt" id="radPC" value="syst4"> PC
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-1">
                                        <label>Date of Birth</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="month" id="dobMonth">
                                            <option value="" disabled selected>Month</option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <select class="form-control" name="day" id="dobDay">
                                            <option value="" disabled selected>Day</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="year" id="year">
                                            <option value="" disabled selected>Year</option>
                                            <script>
                                                    var myDate = new Date();
                                                    var year = myDate.getFullYear();
                                                    for(var i = year; i > 1949; i--){
                                                        document.write('<option value="'+i+'">'+i+'</option>');
                                                    }
                                            </script>
                                        </select>﻿
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="address" placeholder="Address">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="city" placeholder="City">
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="state" id="state">
                                            <option value="" disabled selected>State</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="pWord" placeholder="Password">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="pWordConfirm" placeholder="Re-type Password">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Submit</button>
                                    </div>

                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-shutterOut col-sm-12" name="cancel" id="button-cancel">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
